{% assign lang = include.language %}

<hr style="margin-top: 40px;" />

<h1>API Reference</h1>

{% include client_api_generic.html data = site.data.client_api_reference_grakn %}

{% include client_api_generic.html data = site.data.client_api_reference_client %}

{% include client_api_generic.html data = site.data.client_api_reference_session %}

{% include client_api_generic.html data = site.data.client_api_reference_transaction %}

{% if lang == "java" %}
  {% include client_api_generic.html data = site.data.client_api_reference_graql %}
  {% include client_api_generic.html data = site.data.client_api_reference_query %}
{% endif %}

{% if lang == "nodejs" or lang == "cpython" %}
  {% include client_api_generic.html data = site.data.client_api_reference_iterator %}
{% endif %}

{% include client_api_answers.html data = site.data.client_api_reference_answer %}
