{% assign method = include.data.method %}

{% if method[lang] %}
	<div class="m_client-api-ref-block">
		<h3 id ="client-api-method-{{method[lang].title | downcase | replace: ' ', '-'}}">{{ method[lang].title }}</h3>
		<pre class="client-api-method"><code class="language-{{lang}} java-api">{{ method[lang].method | markdownify }}</code></pre>
		<p>{{ method[lang].description }}</p>

		{% assign number_of_params = method[lang].accepts | size %}
		{% if number_of_params > 0 %}
			<h4> Accepts </h4>
			<table class="client-api-accepts">
			<thead>
				<th>Param</th>
				<th>Description</th>
				<th>Type</th>
				<th>Required</th>
				<th>Default</th>
			</thead>
			<tbody>
				{% for param in method[lang].accepts %}
				<tr>
					<td>{{ param[1].name | markdownify }}</td>
					<td>{{ param[1].description | markdownify }}</td>
					<td>{{ param[1].type | markdownify }}</td>
					<td>{{ param[1].required | markdownify }}</td>
					<td>{{ param[1].default | markdownify }}</td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
		{% endif %}

		{% assign number_of_returns = method[lang].returns | size %}
		{% if number_of_returns > 0 %}
			<h4>Returns</h4>
			<div class="client-api-returns">
				{% for return in method[lang].returns %}
					<b>{{ return | markdownify }}</b>
					{% if forloop.index < number_of_returns %}
					or
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endif %}