
try-import /opt/credentials/bazel-remote-cache.rc

build --workspace_status_command bin/workspace_status.sh --incompatible_strict_action_env --java_language_version=11 --javacopt='--release 11'
run --incompatible_strict_action_env
test --incompatible_strict_action_env --test_env=PATH

