config:
  version-candidate: VERSION
  dependencies:
    dependencies: [build]

build:
  correctness:
    deploy-development:
      filter:
        owner: typedb
        branch: TODO # TODO
      image: vaticle-ubuntu-21.04
      type: foreground
      command: |
        export RELEASE_DOCS_USERNAME=$REPO_GITHUB_USERNAME
        export RELEASE_DOCS_EMAIL=$REPO_GITHUB_EMAIL
        export RELEASE_DOCS_TOKEN=$REPO_GITHUB_TOKEN
        bazel run @vaticle_dependencies//tool/release:docs -- $FACTORY_OWNER typedb-docs-web $FACTORY_BRANCH $FACTORY_REPO content $FACTORY_COMMIT
    deploy-production:
      filter:
        owner: typedb
        branch: TODO # TODO: [2.x, 3.x-master]
      image: vaticle-ubuntu-21.04
      type: foreground
      command: |
        export RELEASE_DOCS_USERNAME=$REPO_GITHUB_USERNAME
        export RELEASE_DOCS_EMAIL=$REPO_GITHUB_EMAIL
        export RELEASE_DOCS_TOKEN=$REPO_GITHUB_TOKEN
        bazel run @vaticle_dependencies//tool/release:docs -- $FACTORY_OWNER typedb-docs-web master $FACTORY_REPO content $FACTORY_COMMIT
  execution:
    - deploy-development
    - deploy-production
